<form asp-action="Add">//change your ActionResult
  <div class="form-group">
       <label asp-for="Your-obje" class="control-label"></label>
       <textarea asp-for="Your-obje" id="mytextarea" class="form-control"></textarea> //The field you want to record in your models
       <span asp-validation-for="Your-obje" class="text-danger"></span>
  </div>
  <div class="form-group">
      <input type="submit" value="Save" class="btn btn-primary"/>
  </div>
</form>
